# Скопируйте в .env на helios или экспортируйте переменные перед ./gradlew runServer.
#
# Сервер (SSH на helios):
PG_HOST=pg
PG_PORT=5432
PG_DATABASE=studs
# Часто на helios логин = Unix USER, пароль совпадает с логином:
# PG_USER=s123456
# PG_PASSWORD=s123456
AUTO_CREATE_DATABASE=true
SERVER_PORT=5555
#
# Клиент с вашего компьютера (к helios):
# SERVER_HOST=helios.cs.ifmo.ru
# SERVER_PORT=5555
#
# Полный JDBC при необходимости:
# PG_JDBC_URL=jdbc:postgresql://pg:5432/studs
